@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    background: #f6f5f7;
    font-family: 'Montserrat', sans-serif;
}

.row{
    margin-top: 8vh;
    margin-left: 5vw;
    margin-right: 5vw;
}


.col-xl{
    height: 610px;
    margin: 30px;
    border-radius: 30px;
    padding: 0;
    position: relative;
    background: white;
    text-align: center;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.top{
    width: 100%;
    height: 35%;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: #FFFFFF;
}

.bi-person-circle {
    font-size: 130px;
    border: 5px solid white;
    border-radius: 100%;
    display: inline-block;
    line-height: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

.user-data{
    margin-top: 82px;
}

p {
    margin-bottom: 30px;
}

.option{
    background: #ededed;
    width: 90%;
    height: 10%;
    margin: 12px auto;
    border-radius: 10px;

}

.icon{
    position: relative;
    display: inline-flex;
    height: 40px;
    width: 80px;
    color: #ffffff;
    background: #d02a2a;

    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 20px;

    cursor: pointer;
    transition: transform 80ms ease-in;

}

.icon:active {
    transform: scale(0.95);
}

.col-txt{
    text-align: left;
    padding: 17px;
    color: black;
}

.col-button{
    text-align: right;
    padding: 10px;
}

.frame{
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: #FFFFFF;

    width: 94%;
    height: 96%;

    border-radius: 30px;
    margin: 10px auto;

}

.job{
    font-size: 190px;
}

.title{
    padding-top: 35px;
    margin-bottom: 55px;
}

#app{

    margin-bottom: 30px;
}

.frame .option {
    background: #ededed;
    color: black;
    width: 90%;
    height: 10%;
    margin: 12px auto;
    border-radius: 10px;
}

.frame .option-icon {
    color: white;
    margin: 12px auto 25px;
    padding-top: 20px;
    font-size: 165px;
}



